{% extends 'base.html' %}

{% block content %}
<div class="row">
    <!----left sidebar---->

    <div class="col-md-3">
    
        {% include 'dashboard/navbar.html' %}

    </div>
         
    <!-- right sidebar-->
    <div class="col-md-9">
        <h2>All Categories</h2>
        <a href="{% url 'add_category' %}" class="btn btn-sm btn-dark float-right mb-3">Add New Category</a>
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
      <th scope="col">Created At</th>
      <th scope="col">Updated At</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for category in categories %}
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ category.name }}</td>
      <td>{{ category.created_at }}</td>
      <td>{{ category.updated_at }}</td>
      <td>
        <a href="{% url 'edit_category' category.id %}" ><i class="fas fa-edit text-success"></i></a>
        &nbsp;
        <a href="{% url 'del_category' category.id %}"><i class="fas fa-trash text-danger"></i></a>
      </td>
    </tr>
    {% endfor %}
   
    
  </tbody>
</table>
    </div>

{% endblock content %}