{% extends 'base.html' %}

{% block content %}
<div class="row">
    <!----left sidebar---->

    <div class="col-md-3">
    
        {% include 'dashboard/navbar.html' %}

    </div>
         
    <!-- right sidebar-->
    <div class="col-md-9">
        <h2>All Blogs</h2>
        <a href="{% url 'add_posts' %}" class="btn btn-sm btn-dark float-right mb-3">Add New Blog</a>
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Blog Name</th>
      <th scope="col">Created At</th>
      <th scope="col">Category</th>
      <th scope="col">Author</th>
     <th scope="col">IS Featured</th>
      
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for post in posts %}
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ post.title }}</td>
      <td>{{ post.created_at }}</td>
      <td>{{post.Category}}</td>
      <td>{{post.author}}</td>
      <td>{% if post.is_featured %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
      <td>
        <a href="{% url 'edit_posts' post.id %}" ><i class="fas fa-edit text-success"></i></a>
        &nbsp;
        <a href="{% url 'del_post' post.id %}"><i class="fas fa-trash text-danger"></i></a>
      </td>
    </tr>
    {% endfor %}
   
    
  </tbody>
</table>
    </div>

{% endblock content %}