{% extends 'base.html' %}

{% block content %}
<div class="row">
    <!----left sidebar---->

    <div class="col-md-3">
    
        {% include 'dashboard/navbar.html' %}

    </div>
         
    <!-- right sidebar-->
    <div class="col-md-9">
      {% if perms.auth.view_user %}
      
 
        <h2>All Users</h2>
        <a href="{% url 'add_users' %} " class="btn btn-sm btn-dark float-right mb-3">Add New Users</a>
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Staff</th>
     <th scope="col"> Active</th>
     <th scope="col"> Superuser</th>
     
   
     
      
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for user in users %}
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
      <td>{% if user.email %}{{ user.email }}{% else %}No Email{% endif %}</td>
      <td>{{ user.username }}</td>
      <td>{% if user.is_staff %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
      <td>{% if user.is_active %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
      <td>{% if user.is_superuser %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
      
      <td>
        <a href="{% url 'edit_users' user.id %}" ><i class="fas fa-edit text-success"></i></a>
        &nbsp;
        <a href="{% url 'del_users' user.id %}"><i class="fas fa-trash text-danger"></i></a>
      </td>
    </tr>
    {% endfor %}
   
    
  </tbody>
</table>
    </div>
    {% else %}
    <h2>You don't have permission to view this page</h2>
         {% endif %}

{% endblock content %}